@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&family=Oswald&family=Poppins&family=Roboto:wght@400;700&display=swap');
:root {
    --neon-border-color: red;

    --all-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--neon-border-color),
    0 0 0.8rem var(--neon-border-color),
    0 0 2.8rem var(--neon-border-color),
    inset 0 0 1.3rem var(--neon-border-color);
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: black;
}
.main-container{
    display: flex;
}  
.chatsblock{
    height: 100vh;
    width: 650px;
    display: flex;
    flex-direction: column;

    z-index: 0;
    border-right: 1px solid rgb(182, 182, 182);
}
.chatstopblock {
    width: 100%;
    height: 50px;
    /* min-height: 65px!important; */
    background-color: white; /*#340c3c*/
    padding: 5px 10px;
    display: flex;
    align-items: center;

    z-index: 0;
    /* border-bottom: 0.2rem solid #fff; */
}
.menu{
    width: 50px;
    display: block  ;
    align-self: center;
    min-width: 30px;
    padding: 5px;
    height: 20px;
    background-image: url('/public/images/menuicon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.showed{
    display: block!important;
}
.punkts{
    overflow: hidden;
    width: 250px;
    position: absolute;
    top: 45px;
    background-color: #fff;
    /* backdrop-filter: blur(50px); */
    border-radius: 10px;
    list-style: none;
    box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(114,114,114,0.25098);
    display: none;
}
.punkt{
    width: 100%;
    height: 45px;
    background: none;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    position: relative;
    overflow: hidden;
    line-height: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.punkt img{
    width: 25px;
    height: 28px;
    margin-right: 10px;
}
.punkt:hover{
    background-color: #e4e4e4;
}


.search{
    width: 100%;
    height: 2.5rem;
}
.search .nick{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(135, 135, 135, 0.064);
    padding: 6px 14px;
    font-size: 16px;
}
.chatsbottomblock{
    overflow-y: scroll; 
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 5px;
}

.chatsbottomblock::-webkit-scrollbar {
    width: 8px;
}
.chatsbottomblock::-webkit-scrollbar-thumb{
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
} 
.chat{
    width: 100%;
    height: 70px;
    /* margin-left: 2px; */
}
.chat-a{
    border: none;
    border-radius: 7px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.042);
    border-radius: 15px;
    border-bottom: 0.2rem solid #fff;
    transition: 0.1s;
}
.chat-a:hover{
    background-color: rgba(0, 0, 0, 0.091);
}
.selected{
    background-color: rgb(51,144,236);
    color: #fff;
}
.selected:hover{
    background-color: rgb(51,144,236);
}
.chat-a .selected:hover{
    background-color: rgb(51,144,236);
}
.chatinnerflex{
    width: 100%;
    /* height: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chattop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    padding: 0 7px;   
}
.name{
    font-size: 17px;
    font-weight: bolder;
}
.chatbottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    padding: 0 7px;   
}
.lasttime, .newmess{
    font-size: 14px;
}
.circular-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 10px;
}
.circular-img-main{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px;
}
.chatbottom{
    font-size: 16px;
}
.newmess{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    color: black;
}
.bigname{
    font-weight: bolder;
}
.whensee{
    font-size: 14px;
}
.displblock{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.displblocktop{
    /* position: absolute; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 20px;

    z-index: 1;
    border-bottom: 1px solid rgb(182, 182, 182);;
    /* box-shadow: var(--all-shadow);  */
}
.biginfo{
    display: flex;
}
.inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sett{
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover  ;
    background-image: url('/public/images/threedots.png');
    transform: rotate(90deg);
}
.messchatall{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.messchat{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
}
.messchat::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/public/images/mainback.png');
    background-position: top right;
    background-size: 510px auto;
    background-repeat: repeat;
    mix-blend-mode: overlay;

}
.messchat::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('/public/images/back2.png');
}

.message-own,
.message-other {
    z-index: 1;
    position: relative;
    display: flex;
    margin: 15px 0;
    width: 100%;
    /* max-width: 85%; */
}

.message-own {
    justify-content: right;
}

.message-other {
    justify-content: left;
}
.message-own p {
    background-color: rgb(238,255,222);;
    padding: 10px;
    border-radius: 10px;
}
.message-other p {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.writeblock{
    z-index: 1;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.writem{
    padding: 10px;
    display: block;
    border: none;
    outline: none;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 15px;
    width: 80%;
    min-height: 50px;
    font-size: 17px;
    word-wrap: break-word;
}
.sendbttn{
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    background-color: #fff;
    font-size: 25px;
    position: absolute;
    right: 10%;
    top:20px;
    border-radius: 60px;
    transition: 0.2s;
}
.sendbttn:hover{
    color: #0000007d;
}
.lasttext{
    max-height: 20px;
    overflow: hidden;
}
.modalwindow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    backdrop-filter: blur(4px); 
}
.loginblock{
    width: 500px;
    min-height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.319);
    display: flex;
    flex-direction: column;
}
.loginblock h1{
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 10px 0;
    /* margin-bottom: 20p; */
}
.loginblock p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.loginblock label{
    display: block;
    font-weight: bold;
}
.datainpit, .logbutt{
    border: none;
    outline: none;
}
.datainpit{
    border: 1px solid rgb(218,220,224);
    display: block;
    width: 100%;
    height: 3.375rem;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 0.75rem;
    font-size: 1rem;

}
.datainpit:hover{
    border-color: #3390ec;
}

.logbutt{
    margin: 0 auto;
    display: block;
    width: 60%;
    height: 50px;
    background-color: #0000001b;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.logbutt:hover{
    background-color: transparent;
    box-shadow: 0 0 10px #3390ec;
    color: #1b6ec1;
}
.input-wrapper {
    position: relative;
    margin: 20px 0;
  }
.input-wrapper label {
    position: absolute;
    top: -7px;
    z-index: 1;
    left: 10px;
    background-color: white;
    color: rgb(163, 166, 170);;
    padding: 0 5px;
    font-weight: 100;
    font-size: 1rem;
    transition: 0.15s ease-in-out;

}
.input-wrapper:hover label{
    color: #3390ec;
}

.loginblock span{
    color: rgb(51,144,236);
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    text-align: center; 
    width: 130px;
}
.loginblock span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sel .datainpit{
    border: 2px solid #3390ec;
}
.sel label{
    color: #3390ec;
}